mss-dynamics-sfdc-contact-migration-uapi-v2/src/main/mule/subflows/create-account-sfdc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="create-account-sfdcFlow" doc:id="eb63fcbb-87c4-4195-a32c-1e8d22471c68" >
		<salesforce:create doc:name="Create Account in Salesforce" doc:id="b86cf203-4fb5-4928-9c72-f3d769238e72" config-ref="Salesforce_Config" type="Account" target="accountId" targetValue="#[payload.items[0].id]">
										<salesforce:records ><![CDATA[#[vars.sfAccountPayload]]]></salesforce:records>
									</salesforce:create>
	
</flow>
</mule>
