mss-dynamics-sfdc-contact-migration-uapi-v2/src/main/mule/subflows/get-contact-sfdc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="get-contacts-sfdcFlow" doc:id="7fb216ac-1a30-461e-a883-f678a64cc698" >
		<salesforce:query doc:name="Query Salesforce for matching Contact" doc:id="ca63158a-c664-4cbe-8603-a5923bb5835a" config-ref="Salesforce_Config">
						<salesforce:salesforce-query><![CDATA[SELECT Id,Name FROM Contact WHERE Name = ':fullname']]></salesforce:salesforce-query>
						<salesforce:parameters><![CDATA[#[output applicaton/java
---
{
	"fullname" : payload.fullname replace "'" with "\'"
}]]]></salesforce:parameters>
					</salesforce:query>
	</flow>
</mule>
