mss-dynamics-sfdc-contact-migration-uapi-v2/src/main/mule/subflows/get-account-sfdc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="get-accounts-sfdcFlow" doc:id="ebf5765a-87e5-455f-b092-3132939bcca2" >
		<salesforce:query doc:name="Query Salesforce for matching Account" doc:id="6085c055-090f-4f61-8158-b3dd2973d750" config-ref="Salesforce_Config">
								<salesforce:salesforce-query ><![CDATA[SELECT Id, Name FROM Account WHERE Name = ':accountName']]></salesforce:salesforce-query>
								<salesforce:parameters ><![CDATA[#[output applicaton/java
---
{
	"accountName" : payload.account_name replace "'" with "\'"
}]]]></salesforce:parameters>
							</salesforce:query></flow>
</mule>
